/*//META{"name":"Better Scaling","description":" Improves Discord's scaling to small window sizes. To remove Discord's default window size limit check the source. Requires BetterDiscord's Normalized classes function to be enabled.","author":"Ethan","version":"1.0", "website":"https://github.com/threethan/ethansDiscordThemes/", "source":"https://github.com/threethan/ethansDiscordThemes"}*//**/

/*Remove the member list*/
@media only screen and (max-width: 1100px) {
    .da-membersWrap {
        display: none;
    }
}

/*Shrink the channel/DM recipient panel*/
@media only screen and (max-width: 1000px) {
    .da-sidebar {
        width: 155px;
    }
    .da-channel {
        margin: 0;
        padding: 0;
    }
    .da-channel .da-layout{
        border-radius: 0 4px 4px 0;
    }
}

/*Hide the channel/DM recipient panel and server selector*/
@media only screen and (max-width: 700px) {
    .da-sidebar {
        display:none;
    }
    .da-guilds {
        display:none;
    }
    .da-base {
        left:0;
    }
}
