/*//META{"name":"Better Scaling","description":" Improves Discord's scaling to small window sizes by making elements hide unless moused over. To remove Discord's default window size limit check the source. Requires BetterDiscord's Normalized classes function to be enabled.","author":"Ethan","version":"2.2.1", "website":"https://github.com/threethan/ethansDiscordThemes/", "source":"https://github.com/threethan/ethansDiscordThemes"}*//**/

/*Autohide the member list on servers when the window isn't very wide*/
@media only screen and (max-width: 1100px) {
	/* .da-membersWrap {
			width: 15px;
			right:-112px;
			min-width: 0;
			transition: right 0.2s;
			transition-timing-function: ease-out;
	}
	.da-membersWrap:not(:hover) div {
		background-color: var(--background-secondary);
	}
	.da-membersWrap div{
		transition: opacity 0.25s;
		opacity: 1;
	}
	.da-membersWrap:not(:hover) div div {
		opacity: 0;
	}
	.da-membersWrap:hover {
			right: 0;
			width: 240px;
	} */
	/* Hide search bar */
	.da-toolbar .da-searchBar {
		width: 150px;
	}
	.da-toolbar .da-searchBar:not(:focus-within) {
		background: none;
		width: 20px;
	}
	.da-toolbar .da-searchBar:not(:focus-within) svg {
		transform: scale(1.5) !important;
		color: var(--interactive-normal);
	}
	.da-toolbar.da-searchBar svg:hover {
		color: var(--interactive-hover);
	}
}

/*Autohide the channel/DM recipient panel when the window is somewhat narrow*/
@media only screen and (max-width: 850px) {
	.da-content .da-sidebar {
		/* width: 15px; */
		margin-right: -225px;
		transition: margin-right 0.2s;
		/* transition: width 0.2s; */
		animation-name: slideOutLeft;
		transition-timing-function: ease-out;
		box-shadow:  5px 10px #888888 inner;
	}
	.da-content .da-sidebar .da-searchBar, .da-content .da-sidebar .da-header{
		-webkit-app-region: no-drag;
	}

	.da-content .da-sidebar 						div:not(:first-child), .da-content .da-sidebar .da-searchBarComponent {
		opacity: 1;
		transition: opacity 0.2s;
	}
	.da-content .da-sidebar:not(:hover) div:not(:first-child), .da-content .da-sidebar:not(:hover) .da-searchBarComponent{
		opacity: 0;
	}
	.da-content .da-sidebar:hover {
		margin-right: 0;
	}

	/* Let the settings page shrink smaller */
	.da-contentColumn, .contentColumn-2hrIYH, .contentColumn {
		min-width: 200px;
	}
	.tools-container { margin-left: -80px; }
	.esc-text { display: none; }
	.btn-close { background-color: var(--background-primary); }

	/* Pad the user icon a bit to not peek out */
	.da-avatarWrapper {
		padding-left: 8px;
	}
}

/*Autohide the server selector when the window is very narrow*/
@media only screen and (max-width: 700px) {
	/* Sometimes the section loses the da-guilds class, so the second part is a workaround for that */
	.da-guilds, .guilds-1SWlCJ {
		position: absolute;
		z-index: 1000; /*100 is NOT enough*/
		left: -62px;
		opacity: 0.5;
		transition: left 0.2s, opacity 0.2s;
		background: red;
	}
	.da-guilds:not(:hover) .da-unreadMentionsIndicatorTop, .guilds-1SWlCJ:not(:hover) .da-unreadMentionsIndicatorTop,
	.da-guilds:not(:hover) .da-unreadMentionsIndicatorBottom, .guilds-1SWlCJ:not(:hover) .da-unreadMentionsIndicatorBottom {
		display: none;
	}
	.da-guilds:hover,.guilds-1SWlCJ:hover{
		left: 0;
		opacity: 1;
		box-shadow: var(--elevation-high);
	}
	.da-base {
		left:10px;
	}
	.da-content .da-sidebar {
		margin-right: -230px;
	}

	/*Compatibility with better title bar theme*/
	.da-guilds::after, .guilds-1SWlCJ::after {padding-left: 8px !important;-webkit-app-region: no-drag;}

		/*Autohide toolbar*/
		.da-title.da-container .da-toolbar {
			position: absolute;
			right: 2px;
			background: var(--background-secondary);
			box-shadow: var(--elevation-low);
			border-radius: 15px;
			height: 30px;
			-webkit-app-region: no-drag;
			padding: 0;
			opacity: 1;
			border: none;
			transition: max-width 1s;
			min-width: 30px;
			max-width: 400px;
			overflow: hidden;
		}
		.da-title.da-container .da-toolbar:not(:hover):not(:focus-within) {
			max-width: 30px;
			height: 30px;
		}
		.da-title.da-container .da-toolbar:not(:hover):not(:focus-within) div {
			opacity: 0;
			transition: opacity 0.5s;
		}
		.da-title.da-container .da-toolbar:not(:hover):not(:focus-within)::after {
			content: '';
			display: block;
			width: 8px; height: 8px;
			position: absolute;
			left: 12px;
			border: solid var(--interactive-normal);
			border-width: 0 0 2px 2px;
			transform: rotate(45deg);
		}
}
